<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="MyFileAppender" fileName="logs/app.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %class{36} - %msg%n"/>
    </File>
    
    <!-- How often a rollover should occur is based on the most specific time 
    	 unit in the date pattern. In this case is minute.
    -->
    <RollingFile name="MyRollingFileAppenderByTime" fileName="logs/timeBasedLog.log" 
    			filePattern="logs/timeBasedLog-%d{yyyyMMdd_HHmm}.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %class{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>
    <!-- Fixed Window strategy, if fileIndex set to "max"(the default), files with 
    	 a higher index will be newer than files with a smaller index. -->
    <RollingFile name="MyRollingFileAppenderBySize" fileName="logs/sizeBasedLog.log" filePattern="logs/sizeBasedLog-%i.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %class{36} - %msg%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="1 KB"/>
      </Policies>
      <DefaultRolloverStrategy fileIndex="min" min="1" max="10"/>
    </RollingFile>
  </Appenders>
  
  
  <Loggers>
    <Root level="ERROR">
    	<AppenderRef ref="Console"/>
    </Root>
    <!-- To disable the Additivity behavior as in 1.2, 
    	 add additivity="false" to the Logger
     -->
    <Logger name="com.tinochan.log4j2.log4j2.Console2" level="TRACE" additivity="false">
    	<AppenderRef ref="Console"/>
    </Logger>
    <!--  Since this logger will be shared by different classes
    	  later on. We need to add the class information in the MyFileAppender
    	  to indicate the source which initiated the log event.
     -->
    <Logger name="MyFileLogger" level="TRACE">
    	<AppenderRef ref="MyFileAppender"/>
    </Logger>
    <Logger name="MyRollingFileLogger" level="TRACE" additivity="false">
    	<AppenderRef ref="MyRollingFileAppenderByTime"/>
    	<AppenderRef ref="MyRollingFileAppenderBySize"/>
    </Logger>
  </Loggers>
  
</Configuration>